html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}
#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* =====- Zoomable areas and popups -=========================================================== */
.marker {
    position: absolute;
    background-color: grey;
    opacity: 0.5;
}
.marker[data-visible] {
    border: 1px solid red;
    transition: 0.3s ease-in-out; 
}
.marker[data-active] { 
    border: 1px solid green;
}
.popups {
    background-color: white;
    padding: 5px;
    position: absolute;
    font-size: 9px;
    min-width: 17em;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    font-family: cursive;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
}
.popups-header {
    position: absolute;
    top: -11px;
    left: 0px;
    background-color: white;
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -10px 5px -10px rgba(0, 0, 0, 0.2);
}
/* ===- Markers -=== */

#entrance {
    left: 940px;
    top: 570px;
    width: 50px;
    height: 120px;
}
#entrance-popup1 {
    left: 950px;
    top: 580px;
    pointer-events: none;
    background-color: transparent;
    box-shadow: none;
    width: auto !important;
}
#entrance-popup1 img {
    width: 2em;
    height: auto;
}

#exit {
    left: 2100px;
    top: 740px;
    width: 160px;
    height: 250px;
}
#exit-popup1 {
    left: 2150px;
    top: 820px;
    pointer-events: none;
    box-shadow: none;
    width: auto !important;
    padding: 2em;
}
#exit-popup1 img {
    width: 2em;
    height: auto;
}
/* binnen */
#magnetron {
    left: 1150px;
    top: 720px;
    width: 50px;
    height: 70px;
}
#magnetron-popup1 {
    left: 1100px;
    top: 680px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#magnetron-popup2 {
    left: 1100px;
    top: 790px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}
#radio {
    left: 490px;
    top: 590px;
    width: 145px;
    height: 115px;
}
#radio-popup1{
    left: 490px;
    top: 710px;
    width: auto;
}
#radio-muziek audio {
    width: 15em;
}
#kasboek {
    left: 835px;
    top: 790px;
    width: 70px;
    height: 170px;
}
#kasboek-popup1 {
    left: 835px;
    top: 690px;
    width: auto;
}
#kasboek-popup1 img {
    width: 15em;
    border-radius: 20px;
}
#balie {
    left: 1430px;
    top: 780px;
    width: 90px;
    height: 300px;
}
#balie-popup1 {
    left: 1280px;
    top: 780px;
    width: auto;
}
#balie-popup1 video {
    width: 15em;
    border-radius: 20px;
}
#madman {
    left: 1070px;
    top: 850px;
    width: 100px;
    height: 250px;
}
#madman-popup1 {
    left: 1180px;
    top: 1000px;
    opacity: 0; /* Initially set to 0 for invisibility */
    transition: opacity 0.5s ease-in-out;
    width: auto;
    border-radius: 0px 15px 15px 15px;
}
/* ===- Backlog -=== */

/* .popups:before {
    content: "";
    position:absolute;
    top:-40px;
    left:0;
    height:40px;
    width: 40px;
    border-bottom-left-radius: 50%;
    box-shadow: 0 20px 0 0 white;
} */

/* #video-container LANDING-PAGE VIDEO */
#video-container {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	z-index: 1;
}
#video-container video {
	position: absolute; 
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#video-overlay {
    background-color:rgba(38, 40, 61, 0.548);
	margin: auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: auto;
    border-radius: 25px;
    padding: 1em;
    margin-top: 5em;
    transition: opacity 0.5s ease-in-out;
}
#logo {
	width: 50%;
	margin: auto;
    border-radius: 50%;
}
#video-overlay h2 {
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}
#video-overlay button {
	margin: 2rem auto;
	background-color: #f06414;
	color: white;
	font-weight: bolder;
	padding: 2rem 3rem;
    border: none;
    box-shadow: 0px 3px 15px rgba(230, 79, 19, 0.788);
    border-radius: 1em;
    transition: opacity 0.5s ease-in-out;
}
#skipvideo {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: white;
    text-shadow: 0 5px 10px black;
    display: none;
}
#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px; /* Adjust the height as needed */
    width: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}