html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}
#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* =====- Markers and Popup general styling -=========================================================== */
.marker {
    position: absolute;
    opacity: 0.5;
    border-radius: 35%;
    transition: 0.5s ease-in-out;
}
.marker[data-visible] {
    background-color: rgba(0, 162, 255, 0.05);
    transition: 0.5s ease-in-out;
}
.marker[data-active] { 
    background-color: rgba(0, 162, 255, 0.1);
    box-shadow: 0 3px 10px rgba(9, 160, 247, 0.35);
    transition: 0.5s ease-in-out;
}
.popups {
    background-color: white;
    padding: 5px;
    position: absolute;
    font-size: 9px;
    width: auto;
    border-radius: 1em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    font-family: cursive;
    opacity: 0; 
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
    align-items: center;
    max-width: 16%;
}
.popups-header {
    position: absolute;
    top: -11px;
    left: 0px;
    background-color: white;
    color: dodgerblue;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -10px 5px -10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: none;
}
/* ===- Markers and popups specific styling -=== */
/* entrance */
#entrance {
    left: 1400px;
    top: 1000px;
    width: 75px;
    height: 150px;
}
#animation-hint {
    position: absolute;
    left: 1420px;
    top: 1062px;
    width: 25px;
    height: 25px;
    animation: pulse 2s infinite;
    border-style: dotted;
    border: 5px double blue;
    border-radius: 50%;
    opacity: 0.5;
}
@keyframes pulse {  /* a subtle pulsating animation to the area to hint users to zoom in */
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
#entrance-popup1 {
    left: 1370px;
    top: 1025px;
    background: transparent;
    box-shadow: none;
    font-size: 12px;
}
#entrance-popup1 img {
    width: 2em;
    height: auto;
}
/* exit */
#exit {
    left: 2145px;
    top: 740px;
    width: 90px;
    height: 250px;
}
#exit-popup1 {
    left: 2100px;
    top: 780px;
    pointer-events: none;
    padding: 2em;
    font-size: 1em;
    background: transparent;
    box-shadow: none;
}
#exit-popup1 img {
    width: 2em;
    height: auto;
}
/* ===- binnen -=== */
/* magnetron */
#magnetron {
    left: 1150px;
    top: 720px;
    width: 50px;
    height: 70px;
}
#magnetron-popup1 {
    left: 1100px;
    top: 680px;
    transition: 0.5s ease-in-out;
}
#magnetron-popup2 {
    left: 1100px;
    top: 790px;
    transition: 0.5s ease-in-out;
}
/* radio */
#radio {
    left: 520px;
    top: 590px;
    width: 70px;
    height: 115px;
}
#radio-popup1{
    left: 490px;
    top: 550px;
}
#radio-popup2{
    left: 490px;
    top: 725px;
}
#radio-muziek audio {
    width: 15em;
}
/* carlos kasboek */
#kasboek {
    left: 835px;
    top: 790px;
    width: 70px;
    height: 170px;
}
#kasboek-popup1 {
    left: 835px;
    top: 690px;
}
#kasboek-popup1 img {
    width: 15em;
    border-radius: 1em;
}
/* balie visitor/video */
#balie {
    left: 1430px;
    top: 780px;
    width: 90px;
    height: 300px;
}
#balie-popup1 {
    left: 1280px;
    top: 780px;
}
#balie-popup1 video {
    width: 15em;
    border-radius: 1em;
}
/* man lastig vallen */
#madman {
    left: 1070px;
    top: 850px;
    width: 100px;
    height: 250px;
}
#madman-popup1 {
    left: 1180px;
    top: 1000px;
    transition: 0.5s ease-in-out;
    border-radius: 0em 1em 1em 1em;
}
/* slapende jongeman */
#sleepingboy {
    left: 1775px;
    top: 890px;
    width: 70px;
    height: 50px;
}
#sleepingboy-popup1 {
    left: 1750px;
    top: 950px;
    transition: 0.5s ease-in-out;
}
/* witte plastic cup */
#cup {
    left: 380px;
    top: 990px;
    width: 50px;
    height: 50px;
}
#cup-popup1 {
    left: 340px;
    top: 890px;
    transition: 0.5s ease-in-out;
}
#cup-popup2 {
    left: 340px;
    top: 1090px;
    transition: 0.5s ease-in-out;
}
/* flessen voorraad */
#bottles {
    left: 320px;
    top: 590px;
    width: 60px;
    height: 90px;
}
#bottles-popup1 {
    left: 300px;
    top: 530px;
    transition: 0.5s ease-in-out;
}
#bottles-popup2 {
    left: 300px;
    top: 715px;
    transition: 0.5s ease-in-out;
}
/* raam zonder gordijn */
#raam {
    left: 20px;
    top: 500px;
    width: 75px;
    height: 500px;
}
#raam-popup1 {
    left: 100px;
    top: 700px;
    transition: 0.5s ease-in-out;
}
#raam-popup2 {
    left: 100px;
    top: 800px;
    transition: 0.5s ease-in-out;
}
/* toilet deur/sign */
#toilet {
    left: 770px;
    top: 742px;
    width: 40px;
    height: 40px;
}
#toilet-popup1 {
    left: 720px;
    top: 700px;
    transition: 0.5s ease-in-out;
}
#toilet-popup2 {
    left: 720px;
    top: 800px;
    transition: 0.5s ease-in-out;
}
/* plafondlamp */
#lamp {
    left: 900px;
    top: 450px;
    width: 60px;
    height: 90px;
}
#lamp-popup1 {
    left: 860px;
    top: 390px;
    transition: 0.5s ease-in-out;
}
#lamp-popup2 {
    left: 860px;
    top: 560px;
    transition: 0.5s ease-in-out;
}
/* bakerij koekjes/brood */
#bakery {
    left: 935px;
    top: 900px;
    width: 50px;
    height: 90px;
}
#bakery-popup1 {
    left: 830px;
    top: 930px;
    transition: 0.5s ease-in-out;
}
#bakery-popup2 {
    left: 870px;
    top: 1000px;
    transition: 0.5s ease-in-out;
}
/* spiegel camera */
#mirrorcam {
    left: 1465px;
    top: 645px;
    width: 65px;
    height: 50px;
}
#mirrorcam-popup1 {
    left: 1430px;
    top: 560px;
    transition: 0.5s ease-in-out;
}
#mirrorcam-popup2 {
    left: 1430px;
    top: 710px;
    transition: 0.5s ease-in-out;
}

/* ===-Introductie video -=== */
#video-container {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	z-index: 1;
}
#video-container video {
	position: absolute; 
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
/* video overlay */
#video-overlay {
    background-color:rgba(38, 40, 61, 0.548);
	margin: auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: auto;
    border-radius: 25px;
    padding: 1em;
    margin-top: 5em;
    transition: 0.5s ease-in-out;
}
#logo {
	width: 50%;
	margin: auto;
    border-radius: 50%;
}
#video-overlay h2 {
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}
#video-overlay button {
	margin: 2rem auto;
	background-color: #f06414;
	color: white;
	font-weight: bolder;
	padding: 2rem 3rem;
    border: none;
    box-shadow: 0px 3px 15px rgba(230, 79, 19, 0.788);
    border-radius: 1em;
    transition: 0.5s ease-in-out;
}
/* video UI */
#skipvideo {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: white;
    text-shadow: 0 5px 10px black;
    display: none;
}
#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px; /* Adjust the height as needed */
    width: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
/* Typewriter introvideo */
#typewriter-container { /* Wrapper to Center the Typewriter */
    margin-top: 2em;
	width: 90%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Waiting for the Sunrise';
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#typewriter-centeredbox {
	width: 90%;
	text-align: center;
    height: auto;
}
#typewriter  { /* The Typewriter gets styling from javascript*/
	color: black;
}
.cursor {
	border-left: 2px solid black;
    margin-left: 2px;
}
/* ===- Media Query for mobile -=== */
@media only screen and (max-width: 992px) {
    .popups {
        width: 35%;
        max-width: none;
    }
}
/* ======================================= */

