html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}
#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* =====- Zoomable areas and popups -=========================================================== */
.marker {
    position: absolute;
    background-color: grey;
    opacity: 0.5;
}
.marker[data-visible] {
    border: 1px solid red;
    transition: 0.3s ease-in-out; /* Added transition for smoother color changes */
}
.marker[data-active] { 
    border: 1px solid green;
}
.textbox {
    background-color: white;
    padding: 5px;
    position: absolute;
    font-size: 9px;
    width: 20%;
    border-radius: 15px;
    /* border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%; */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    font-family: cursive;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    z-index: 99;
    pointer-events: none;
}
/* ===- Markers -=== */
#magnetron {
    left: 900px;
    top: 320px;
    width: 50px;
    height: 100px;
}
#magnetron-janinfo {
    left: 900px;
    top: 260px;
    opacity: 0; /* Initially set to 0 for invisibility */
    transition: opacity 0.5s ease-in-out;
}
#magnetron-extrainfo {
    left: 900px;
    top: 420px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}
#entrance {
    left: 940px;
    top: 570px;
    width: 50px;
    height: 120px;
}
#entrance-info {
    left: 950px;
    top: 580px;
    pointer-events: none;
    background-color: transparent;
    box-shadow: none;
}
#entrance-info img {
    width: 2em;
    height: auto;
}

#exit {
    left: 1550px;
    top: 240px;
    width: 200px;
    height: 350px;
}
#exit-info {
    left: 1650px;
    top: 400px;
    pointer-events: none;
    box-shadow: none;
    width: auto;
    padding: 2em;
}
#exit-info img {
    width: 2em;
    height: auto;
}
/* ===- Backlog -=== */

/* .textbox:before {
    content: "";
    position:absolute;
    top:-40px;
    left:0;
    height:40px;
    width: 40px;
    border-bottom-left-radius: 50%;
    box-shadow: 0 20px 0 0 white;
} */

/* #video-container LANDING-PAGE VIDEO */
#video-container {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	z-index: 1;
}
#video-container video {
	position: absolute; 
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#video-overlay {
    background-color:rgba(38, 40, 61, 0.548);
	margin: auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: auto;
    border-radius: 25px;
    padding: 1em;
    margin-top: 5em;
    transition: opacity 0.5s ease-in-out;
}
#logo {
	width: 50%;
	margin: auto;
    border-radius: 50%;
}
#video-overlay h2 {
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}
#video-overlay button {
	margin: 2rem auto;
	background-color: #f06414;
	color: white;
	font-weight: bolder;
	padding: 2rem 3rem;
    border: none;
    box-shadow: 0px 3px 15px rgba(230, 79, 19, 0.788);
    border-radius: 1em;
    transition: opacity 0.5s ease-in-out;
}
#skipvideo {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: white;
    text-shadow: 0 5px 10px black;
    display: none;
}
#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px; /* Adjust the height as needed */
    width: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}